---
Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-*,
  readability-*,
  performance-*,
  bugprone-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -modernize-use-trailing-return-type,
  -readability-uppercase-literal-suffix,
  -readability-magic-numbers,
  -readability-identifier-length,
  -bugprone-unchecked-optional-access

WarningsAsErrors: true
UseColor: true
